.far{
    padding: 13px;
    font-size: 50px;
}

.red{
    color: red;
}

i:hover, i:hover ~ i {
    color: blue;
}

body{
    height: 100%;
    min-height: 100vh;
}

#reset3 {
    height: 100%;
    min-height: 100vh;
}

.active{
    color:blue;
}

.row{
    padding: 0px !important;
}


