/*Estilos genéricos, de clases y de ID*/
.far{
    padding: 13px;
    font-size: 50px;
}

.red{
    color: red;
}

body{
    height: 100%;
    min-height: 100vh;
}

#reset3 {
    height: 100%;
    min-height: 100vh;
}

.row{
    padding: 0px !important;
}

/*Clase añadida al clickar corazon*/

.active{
    color:blue;
}

/*Cambios de color al pasar ratón*/
i{
    float: right;
}

i:hover, i:hover ~ i {
    color: blue;
}



